@charset "utf-8";

body{
	background-color:#CCC;
	margin:0px;
}


#container {

	width:500px;
	border:1px solid red;
	margin:50px auto;

}


#greetingText {

	margin:50px;
	line-height:50px;
	font-size:36px;
	text-align:center;
	font-family:Verdana, Geneva, sans-serif;
	color:#666;
	border: 1px solid #A80000;


}

#photo {

	margin:50px;
	font-size:36px;
	text-align:center;
	font-family:Verdana, Geneva, sans-serif;
	color:#060;
	font-weight:bold;
	border:1px solid #A80000;

}

#controlPanel {
	background-color:#A0A0A0 ;
	width:450px;
	height:150px;
	margin-left: 30px;
	position: absolute;
	top: 700px;
	left: 630px;
	border: 1px solid #404040;


}

#controlPanel > * {

	margin:20px;
	border: 1px solid #404040;
	
}

#pickcolor{
	width: 100px;
	height: 100px;
	outline: 1px solid red;
	background-color: yellow;
}



/*.whiteBackground{
	background-color:#FFF;
}*/

/*.redBackground{
	background-color:#F00;
}*/


/* Please add more background colors of your choice */
